
# CUNEF MUCD 2022/2023
# Machine Learning

## Analisis of Yelp Dataset


### Authors:

    Gozde Yazganoglu
    Irma Sanchez

### 2.Analisis of Chekin dataset

Our aim in this project is to analyze a big dataset consisting of reviews, comments, localization and have business ideas in general.

First we are importing dataset of yelp_academic_dataset_business.json file. using below code, we can extract the file. Or tar file can be opened by using 7zip. 

    -> yelp_academic_dataset_business.json 
    -> yelp_academic_dataset_checkin.json 
    -> yelp_academic_dataset_review.json 
    -> yelp_academic_dataset_tip.json 
    -> yelp_academic_dataset_user.json
    
We are going to use extracted files for this notebook. we are going to skip below cell.

In [2]:
import pandas as pd
import json

In [8]:
df_checkin = pd.read_json('../data/raw/yelp_academic_dataset_checkin.json', lines=True)
df_checkin

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013..."
131926,zznZqH9CiAznbkV6fXyHWA,2021-06-12 01:16:12
131927,zzu6_r3DxBJuXcjnOYVdTw,"2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"2016-12-03 23:33:26, 2018-12-02 19:08:45"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,2015-01-06 17:51:53

In this dataframe we are interested in number of the checkin. In a first view, it can be seen that every single checkin is divided with comma after the first one . Therefore, checkin number is 1 + number of the commas.

Checkin is a tool of Yelp that is used for creating a relationship analisis with customers and potential influencers. 'Elite' users votes are matter than normal users. Revievers and businesses benefit from this relationship.

In [10]:
df_checkin['date_count'] = df_checkin['date'].apply(lambda x: x.count(',')+1)
df_checkin

,business_id,date,date_count
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...",11
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...",10
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22",2
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...",10
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...",26
...,...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013...",67
131926,zznZqH9CiAznbkV6fXyHWA,2021-06-12 01:16:12,1
131927,zzu6_r3DxBJuXcjnOYVdTw,"2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012...",23
131928,zzw66H6hVjXQEt0Js3Mo4A,"2016-12-03 23:33:26, 2018-12-02 19:08:45",2
131929,zzyx5x0Z7xXWWvWnZFuxlQ,2015-01-06 17:51:53,1

This data might be useful by joins with other datasets.

In [11]:
df_checkin.to_parquet( '../data/processed/yelp_academic_dataset_checkin.parquet')